<h1 class="h4 mb-4 text-gray-800 text-uppercase"><%= t('views.users.edit') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(Deixe em branco se não quiser alterar)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-sm" %>
    <% if @minimum_password_length %>
      <small id="emailHelp" class="form-text text-muted">No mínimo <%= @minimum_password_length %> caracteres</small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(Precisamos de sua senha atual para confirmar suas alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-sm" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar", class: "btn btn-success" %>
  </div>
<% end %>

<br/>

<h1 class="h4 mb-0 text-gray-800 text-uppercase">Cancelar conta</h1>

<br/>

<div class="d-flex">
  <%= link_to t('views.back'), :back, class: "btn btn-light shadow-sm mr-2" %>
  <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class: "btn btn-danger" %>
</div>