<div id="login">
  <div class="container w-50">
    <div class="card mt-5">
      <div class="card-header bg-primary">
        <h3 class="text-white">Criar Conta</h3>
      </div>
      <div class="card-body">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <label for="username" class="text-primary"><%= t('activerecord.attributes.user.email') %>:</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="form-group">
                <label for="password" class="text-primary"><%= t('activerecord.attributes.user.password') %>:</label>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                <% if @minimum_password_length %>
                  <small id="emailHelp" class="form-text text-muted">No mínimo <%= @minimum_password_length %> caracteres</small>
                <% end %>
              </div>

              <div class="form-group">
                <label class="text-primary"><%= t('activerecord.attributes.user.password_confirmation') %>:</label>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>
              
              <div class="actions">
                <%= f.submit "Criar", class: "btn btn-outline-primary" %>
              </div>

              <div id="register-link" class="text-right">
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>