<div id="login">
  <div class="container w-50">
    <div class="card mt-5">
    <div class="card-header bg-primary">
      <h3 class="text-white">Esqueceu sua senha?</h3>
    </div>
      <div class="card-body">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-group">
                <label for="username" class="text-primary"><%= t('activerecord.attributes.user.email') %>:</label><br>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="actions">
                <%= f.submit "Envie-me instruções de redefinição de senha", class: "btn btn-outline-primary" %>
              </div>

              <div id="register-link" class="text-right">
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>