<div id="login">
  <div class="container w-50">
    <div class="card mt-5">
    <div class="card-header bg-primary">
      <h3 class="text-white">Login</h3>
    </div>
      <div class="card-body">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <label for="username" class="text-primary"><%= t('activerecord.attributes.user.email') %>:</label><br>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="form-group">
                <label for="password" class="text-primary"><%= t('activerecord.attributes.user.password') %>:</label><br>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>

              <div class="form-group">
                <% if devise_mapping.rememberable? %>
                  <div class="form-check form-check-inline">
                    <%= f.check_box :remember_me, class: "form-check-input" %>
                    <%= f.label :remember_me, class: "form-check-label" %>
                  </div>
                <% end %>
                <div>
                  <%= f.submit "Entrar", class: "btn btn-outline-primary" %>
                </div>
              </div>

              <div id="register-link" class="text-right">
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>