<div class="nested-fields">
  <div class="form-row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :state  %>
        <%= select_tag :state, options_for_select(State.pluck(:name, :id), selected: @state), prompt: "Selecione", class: "form-control form-control-sm js-selectState" %>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <%= f.label :city_id  %>
        <%= f.select :city_id, options_for_select(City.where(state_id: @state).pluck(:name, :id), selected: f.object.city_id), { include_blank: "Selecione" }, class: "form-control form-control-sm js-selectCity" %>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <%= f.label :cep %>
        <%= f.text_field :cep, class: "form-control form-control-sm", data: { mask: "cep" }, maxlength: 10 %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-8">
      <div class="form-group">
        <%= f.label :public_place %>
        <%= f.text_field :public_place, class: "form-control form-control-sm" %>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <%= f.label :number %>
        <%= f.text_field :number, class: "form-control form-control-sm" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <div class="form-group">
        <%= f.label :neighborhood %>
        <%= f.text_field :neighborhood, class: "form-control form-control-sm" %>
      </div>
    </div>
  </div>
</div>
