<%= form_with(model: proponent, local: true) do |form| %>
  <% if proponent.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div class="d-sm-flex align-items-center">
        <svg width="2.0625em" height="2em" viewBox="0 0 17 16" class="bi bi-exclamation-triangle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
        <h2 class="mb-0 ml-2">Erro ao cadastrar</h2>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <hr>
      <% proponent.errors.full_messages.each do |message| %>
        <p class="mb-0"><%= message.html_safe %></p>
      <% end %>
    </div>
  <% end %>

  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">Dados Pessoais</h5>
      <div class="form-row">
        <div class="col-8">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control form-control-sm" %>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <%= form.label :cpf %>
            <%= form.text_field :cpf, class: "form-control form-control-sm", data: { mask: "cpf" }, maxlength: 14 %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-4">
          <div class="form-group">
            <%= form.label :date_birth %>
            <%= form.text_field :date_birth, value: (@proponent.date_birth.strftime("%d/%m/%Y") if !@proponent.date_birth.nil?), maxlength: 10, class: "form-control form-control-sm js-dateformat" %>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <%= form.label :salary %>
            <%= form.text_field :salary, value: number_to_currency((params[:proponent].nil? ? form.object.salary : params[:proponent][:salary]), unit: "", separator: ",", delimiter: "."), class: "form-control form-control-sm js-salary" %>
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">
            <br/>
            <button type="button" class="btn btn-outline-primary btn-sm btn-block mt-2 js-calculate">Calcular Desconto</button>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <%= form.label :discount %>
            <%= form.text_field :discount, value: number_to_currency((params[:proponent].nil? ? form.object.discount : params[:proponent][:discount]), unit: "", separator: ",", delimiter: "."), readonly: true, class: "form-control form-control-sm js-discount" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-8">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Endereço</h5>
          <%= form.fields :address do |address| %>
            <%= render 'address_fields', f: address %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Contatos</h5>
          <div id="telephones">
            <%= form.fields_for :telephones do |telephone| %>
              <%= render 'telephone_fields', f: telephone %>
            <% end %>

            <div class="links">
              <%= link_to_add_association "Adicionar".html_safe, form, :telephones, class: "btn btn-sm btn-outline-success" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions mt-4 mb-4">
    <%= button_tag(class: "btn btn-success btn-sm") do %>
      <i class="far fa-save"></i> <%= proponent.new_record? ? 'Cadastrar' : 'Atualizar' %>
    <% end %>
    <%= link_to "<i class='fa fa-ban'></i> Voltar".html_safe, proponents_path, class: "btn btn-light btn-sm shadow-sm" %>
  </div>
<% end %>
