<div class="nested-fields">
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <%= f.text_field :value, class: "form-control form-control-sm", data: { mask: "telephone" }, maxlength: 15 %>
      </div>
    </div>

    <div class="col-6">
      <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
        <% Contact::KINDS.each do |n| %>
          <label class="btn btn-sm btn-outline-primary">
              <%= f.radio_button :kind, n[:id] %><%= n[:description] %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="col-1">
      <%= link_to_remove_association "<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-trash-fill' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule='evenodd' d='M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z'/>
        </svg>".html_safe, f, class: "btn btn-sm btn-outline-danger" %>
    </div>
  </div>
</div>