<div class="d-sm-flex align-items-center justify-content-between form-row mb-4">
  <div class="col-8">
    <h1 class="h4 mb-0 text-gray-800 text-uppercase"><%= t('views.proponents.new') %></h1>
  </div>
  <div class="col-4 text-right">
    <%= link_to t('views.proponents.new'), new_proponent_path, class: "btn btn-sm btn-outline-success shadow-sm col-4" %>
  </div>
</div>

<hr/>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('activerecord.attributes.proponent.name') %></th>
      <th scope="col"><%= t('activerecord.attributes.proponent.cpf') %></th>
      <th scope="col"><%= t('activerecord.attributes.proponent.date_birth') %></th>
      <th scope="col"><%= t('activerecord.attributes.proponent.salary') %></th>
      <th scope="col"><%= t('activerecord.attributes.proponent.discount') %></th>
      <th colspan="3"></th>
    </tr>
    </tr>
  </thead>
  <tbody>
    <% @proponents.each_with_index do |proponent, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= proponent.name %></td>
        <td><%= proponent.cpf %></td>
        <td><%= l proponent.date_birth %></td>
        <td><%= number_to_currency(proponent.salary, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td><%= number_to_currency(proponent.discount, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td class="d-flex justify-content-end">
          <div class="btn-group">
            <%= link_to t('views.show'), proponent, class: "btn btn-sm btn-outline-primary shadow-sm" %>
            <%= link_to t('views.edit'), edit_proponent_path(proponent), class: "btn btn-sm btn-outline-secondary shadow-sm" %>
            <%= link_to t('views.destroy'), proponent, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: "btn btn-sm btn-outline-danger shadow-sm" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
