<div class="d-sm-flex align-items-center justify-content-between form-row mb-4">
  <div class="col-8">
    <h1 class="h4 mb-0 text-gray-800 text-uppercase"><%= t('views.proponents.show') %></h1>
  </div>
  <div class="col-4 text-right">
    <%= link_to t('views.back'), proponents_path, class: "btn btn-sm btn-light shadow-sm col-3" %>
    <%= link_to t('views.edit'), edit_proponent_path(@proponent), class: "btn btn-sm btn-secondary shadow-sm ml-2 col-3" %>
  </div>
</div>

<hr/>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Dados Pessoais</h5>
    <div class="form-row">
      <div class="col-6">
        <div class="form-group">
          <label class="font-weight-bold"><%= t('activerecord.attributes.proponent.name') %></label>
          <div class="col-form-label col-form-label-sm"><%= @proponent.name %></div>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <label class="font-weight-bold"><%= t('activerecord.attributes.proponent.cpf') %></label>
          <div class="col-form-label col-form-label-sm"><%= @proponent.cpf %></div>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <label class="font-weight-bold"><%= t('activerecord.attributes.proponent.date_birth') %></label>
          <div class="col-form-label col-form-label-sm"><%= l @proponent.date_birth %></div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-3">
        <div class="form-group">
          <label class="font-weight-bold"><%= t('activerecord.attributes.proponent.salary') %></label>
          <div class="col-form-label col-form-label-sm"><%= number_to_currency(@proponent.salary, unit: "R$", separator: ",", delimiter: ".") %></div>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <label class="font-weight-bold"><%= t('activerecord.attributes.proponent.discount') %></label>
          <div class="col-form-label col-form-label-sm"><%= number_to_currency(@proponent.discount, unit: "R$", separator: ",", delimiter: ".") %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="col-8">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Endereço</h5>
        <div class="form-row">
          <div class="col-4">
            <div class="form-group">
              <label class="font-weight-bold"><%= t('activerecord.attributes.address.state') %></label>
              <div class="col-form-label col-form-label-sm"><%= @proponent.address.city.state.name %></div>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class="font-weight-bold"><%= t('activerecord.attributes.address.city') %></label>
              <div class="col-form-label col-form-label-sm"><%= @proponent.address.city.name %></div>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class="font-weight-bold"><%= t('activerecord.attributes.address.cep') %></label>
              <div class="col-form-label col-form-label-sm"><%= @proponent.address.cep %></div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-8">
            <div class="form-group">
              <label class="font-weight-bold"><%= t('activerecord.attributes.address.public_place') %></label>
              <div class="col-form-label col-form-label-sm"><%= @proponent.address.public_place %></div>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class="font-weight-bold"><%= t('activerecord.attributes.address.number') %></label>
              <div class="col-form-label col-form-label-sm"><%= @proponent.address.number %></div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-12">
            <div class="form-group">
              <label class="font-weight-bold"><%= t('activerecord.attributes.address.neighborhood') %></label>
              <div class="col-form-label col-form-label-sm"><%= @proponent.address.neighborhood %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Contatos</h5>
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col"><%= t('activerecord.attributes.telephones.value') %></th>
              <th scope="col"><%= t('activerecord.attributes.telephones.kind') %></th>
            </tr>
          </thead>
          <tbody>
            <% if @proponent.telephones.each do |telephone| %>
              <tr>
                <td class="col-form-label col-form-label-sm">
                  <i class='text-info h6'></i> <%= telephone.value %>
                </td>
                <td class="col-form-label col-form-label-sm">
                  <i class='text-info h6'></i> <%= Contact.get_human_kinds(telephone.kind) %>
                </td>
              </tr>
            <% end.empty? %>
              <tr>
                <td class="col-form-label col-form-label-sm">
                  Nenhum telefone cadastrado.
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
