<!DOCTYPE html>
<html>
  <head>
    <title>Desconto INSS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <% if user_signed_in? %>
        <div class="bg-light" id="sidebar-wrapper">
          <div class="sidebar-heading bg-primary text-light">Desconto INSS</div>
          <div class="list-group list-group-flush">
            <%= link_to "Proponentes", proponents_path, class: "list-group-item list-group-item-action bg-light" %>
            <%= link_to "Novo Proponente", new_proponent_path, class: "list-group-item list-group-item-action bg-light" %>
          </div>
        </div>
      <% end %>

      <div id="page-content-wrapper">
        <% if user_signed_in? %>
          <%= render 'layouts/header' %>
        <% end %>

          <% if notice %>
            <div class=" js-alert p-4">
              <div class="alert alert-success"><%= notice %></div>
            </div>
          <% end %>
          <% if alert %>
            <div class="js-alert p-4">
              <div class="alert alert-danger"><%= alert %></div>
            </div>
          <% end %>

        <div class="container-fluid p-4">
          <%= yield %>
        </div>

      </div>
    </div>

    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });

      $(".js-alert").fadeTo(2000, 500).slideUp(500, function() {
        $(".js-alert").slideUp(500);
      });
    </script>
  </body>
</html>
